<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="mb-5">
  <h1>
    Angular form generator
  </h1>  
  <h5>Simply enter JSON object to get template driven or reactive form html and typescript source code</h5>
</div>
<div class="container mb-5">
  <form [formGroup]="generatorForm">
    <div class="col-md-8">        
      <div class="col-md-8">
        <div class="form-group">
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" formControlName="formType" value="1" id="templateDriven" class="custom-control-input">
            <label class="custom-control-label" for="templateDriven">Template Driven Forms</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" formControlName="formType" value="2" id="reactive" class="custom-control-input">
            <label class="custom-control-label" for="reactive">Reactive Forms</label>
          </div>
        </div>
        <div class="form-group">
          <label for ="description"> Json Input {{gf.jsonInput.errors}}</label>
           <textarea  formControlName="jsonInput" class="form-control" rows="10" cols="30" placeholder="Enter Your Json" [ngClass]="{ 'is-invalid': gf.jsonInput.errors }" required></textarea>
           <div *ngIf="gf.jsonInput.errors" class="invalid-feedback">
            <div *ngIf="gf.jsonInput.errors.required">Json is required</div>
           </div>
          </div>
        <div>
          <button type="button" [disabled]="generatorForm.invalid" class="btn btn-primary" (click)="onSubmit()"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Submit</button>
        </div>
    </div>
    </div>
  </form>
</div>
<div class="container mb-5">
  <div class="col-md-4"  [innerHtml]="htmlCode">
    
  </div>
</div>
<div class="container mb-5">
  <div class="row">
      <div class="col-md-3">
          <h4>Html code</h4>
      </div>
      <div class="col-md-3">
          <span class="float-right"> <span style="font-family: 'Courier New', Courier, monospace;">Copy</span><img height="25px" width="45px" (click)="copyCode(htmlcode)" src="../assets/copy.png" /></span>
      </div>
      <div class="col-md-3">
          <h4>Typescript code</h4>
      </div>
      <div class="col-md-3">
          <span class="float-right"> <span style="font-family: 'Courier New', Courier, monospace;">Copy</span> <img height="25px" width="45px" (click)="copyCode(tscode)" src="../assets/copy.png" /></span>
      </div>
  </div>
  <div class="row">
    <div class="col">
        <textarea  class="form-control" rows="20" cols="30" [ngModel]="sanitizedHtmlCode" #htmlcode></textarea>
    </div>
    <div class="col">
        <textarea  class="form-control" rows="20" cols="30" [ngModel]="tsCode" #tscode></textarea> 
    </div>
  </div>
</div>
